body{
    background: url(PozeProiect/background.jpg);
    height: 100%;
    width: 99.7%;
}

header 
#logo{
    margin-left: 44.85%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 10%;
}

#visit{
    width: 99.9%;
    height: 40vw;
}

#visit > img{
    width: inherit;
    height: inherit;
}

#visit > div{
    border: 1px solid white;
    margin-top: -30%;
    margin-left: 20%;
}

#visit p {
    font-size: 7vw;
    color: floralwhite;
}