body{
    background: url(PozeProiect/background.jpg);
    height: 100%;
    width: 99.7%;
}

#logo{
    margin-left: 42.85%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 14%;
}

/*a:hover {
    color: red;
}*/

.button{
    display: grid;
    grid-template-columns: 20% 20%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 60%;
}

.button > div{
    border: 0.1vw solid darkgray;
    text-align: center;
    padding: 5%;
}

.button a{
    font-size: 2vw;
    color: #9d5215;
    text-decoration: none;
}

.button a:visited{
    color: #432309;
}

.button a:hover, a:visited:hover{
    color: #cd9718;
}

#visit{
    width: 98.8vw;
    height: 40vw;
    margin-bottom: 5%;
}

#visit > img{
    width: inherit;
    height: inherit;
}

#visit > div{
    border: 1px solid white;
    margin-top: -25%;
    margin-left: 20%;
}

#visit a {
    font-size: 7vw;
    color: floralwhite;
    text-decoration: none;
}

#visit a:visited{
    color: lightgray;
}

#visit a:hover, a:visited:hover{
    color: #e5ac23;
}

#descriere{
    display: grid;
    grid-template-columns: 42% 50%;
    margin-left: 5%;
    grid-gap: 5%;
}

#descriere #imagine{
    /*border: 1px solid black;*/
    padding: 1%;
}

#descriere #text{
   border: 0.1vw solid darkgray;
}

#descriere h1{
    font-size: 3vw;
}

#descriere p{
    font-size: 1.5vw;
}
